

.formdiv {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border: none;
    border-radius: 10px;
    width: 30%;
    background: linear-gradient(135deg, #1B8AF1, #B58DED);
    font-family: 'Arial', sans-serif;
}

.forms {
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.idzone, .passwordzone, .namezone {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
    padding-top: 10px;
    border: none;
}

.idzone input {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border: none;
    text-align: center;
}

.passwordzone input {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border:  none;
    text-align: center;
}

.namezone input {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border:  none;
    text-align: center;
}


.buttonzone {
    display: grid;
    width: auto;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
}

.btnlink {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: skyblue;
    color: black;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    text-align: center;
}

.btnlink:hover {
    border-right: 1px solid red;
    border-bottom: 3px solid red;
}

.finbtn {
    margin-top: 20px;

}