
.form {
    background: linear-gradient(to right, #d1913c, #ffd194);
    border: none;
    border-radius: 40px;
    padding-top: 15px;
    height: 500px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.form h2 {
    font-style: italic;
    color: white;
}

.titleinput, .dateinput, .descriptioninput {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}


.submitbutton {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    width: 100px;
    height: 30px;
    font-size: 15px;
    font-family: 'Arial', 'sans-serif';
    background-color: rgb(89, 228, 85);
    border: 1px solid black;
    cursor: pointer;
}

.submitbutton:hover {
    background-color: gainsboro;
}

input, textarea {
    border:none;
    border-radius: 20px;
    width: 400px;
    text-align: center;
}

input {
    height: 50px;
    font-size: 20px;
}

textarea {
    height: 200px;
}